<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="./assets/css/program.css">
  <link rel="stylesheet" href="./assets/css/accounts.css">
</head>

<body>
  <div class="form-container">
    <h1 class="title"><i class="fas fa-comments"></i>Umpan Balik User</h1>
    
    <div class="field">
      <label class="label"><i class="fas fa-clipboard-list"></i> Nama Proyek</label>
      <div class="control has-icons-left">
          <div class="select is-fullwidth is-focused">
              <select id="kode" name="projectName" required
                  style="background-color: #e0f7ff; border: 2px solid #4facfe; color: #000; padding: 12px 16px; font-size: 16px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; width: 100%;">
                  <option value="">Pilih Proyek</option>
                  <option value="gobizid">gobizid</option>
                  <option value="domytext-signin">domytext-signin</option>
                  <option value="domytext-home">domytext-home</option>
                  <option value="domytext-dashboard">domytext-dashboard</option>
                  <option value="domytext-api">domytext-api</option>
                  <option value="domytext-auth">domytext-auth</option>
                  <option value="domytele">domytele</option>
                  <option value="domytext-manifest">domytext-manifest</option>
                  <option value="Parkir Grtais">Parkir Gratis</option>
              </select>
          </div>
      </div>
  </div>
  

    <div class="field">
      <label class="label"><i class="fas fa-user"></i> Nama Pengguna</label>
      <div class="control">
        <input class="input" type="text" id="namaPengguna" placeholder="Nama Product Owner atau Reviewer" required
          style="background-color: #e0f7ff; border: 2px solid #4facfe; color: #000; padding: 12px 16px; font-size: 16px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; width: 100%;" />
      </div>
    </div>

    <div class="field">
      <label class="label"><i class="fas fa-phone"></i> Kontak WhatsApp</label>
      <div class="control has-icons-left">
          <input class="input" type="tel" id="phone" placeholder="+6281234567890" required
              style="background-color: #e0f7ff; border: 2px solid #4facfe; color: #000; padding: 12px 16px; font-size: 16px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; width: 100%;" />
          <span class="icon is-left">
              <i class=""></i>
          </span>
      </div>
  </div>

  <div class="field">
    <label class="label"><i class="fas fa-comments"></i> Pertanyaan Feedback</label>
    <div class="control">
        <textarea class="textarea is-focused" id="solusi" placeholder="Tulis paparan aktivitas yang dimintai feedback" required
            style="background-color: #e0f7ff; border: 2px solid #4facfe; color: #000; padding: 12px 16px; font-size: 16px; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); transition: all 0.3s ease; width: 100%; height: 150px;"></textarea>
    </div>
</div>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-link" id="tombolprogramtask">
          <i class="fa fa-paper-plane-o" aria-hidden="true"> Kirim</i>
        </button>
      </div>
      <div class="control">
        <button class="button is-danger" id="tombolcancelprogramtask">
          <i class="fas fa-times"> Batal</i>
        </button>
      </div>
    </div>
  </div>
</body>
