<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  />
  <link rel="stylesheet" href="./assets/css/chat.css">
</head>

<body>
  <div class="chat-wrapper">
    <div class="chat-header">
      <i class="fas fa-comments"></i> Messages
    </div>
    

    <div class="chat-container">
      <div class="box chat-messages" id="log">
        <div class="message sent">
          <b>You</b>
          <p>
            Any progress on the gateway API?
          </p>
        </div>
        <div class="message received">
          <b>Jade</b>
          <p>
            Already running on testing. Will be deployed into production if everything is fine.
          </p>
        </div>
        <div class="message received">
          <b>Bart</b>
          <p>
            Ay caramba! everything is fine. Deploying into prod!
          </p>
        </div>
        <div class="message sent">
          <b>You</b>
          <p>
            Great job guys!
          </p>
        </div>
      </div>
      <div class="field has-addons">
        <div class="control is-expanded" style="position: relative;">
          <span class="input-icon">
            <i class="fas fa-comment-dots"></i>
          </span>
          <input
            class="input"
            type="text"
            placeholder="Type a message..."
            id="msg"
          />
        </div>
        <div class="control">
          <button class="button is-primary" id="sendbutton">
            <i class="fas fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
